@media (max-width: 1350px) {
    body{
        margin: 0;
        padding: 0;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }
   
    h1 {
        font-size: 2rem;

    }

    h1:nth-child(2){
        margin: 0;

    }
    
    .prima-col {
        padding: 0px;
        align-items: center;
        text-align: center;
    }


    .p-title {
  
        margin: 20px;

    }

    .btn {
        width: 250px;
        padding: 13px 20px;
        font-size: 16px;
        margin-bottom: 30px;
    }

 
    .profile-container {
        padding: 0;
        display: none;
    }

    .profile-image {
        width: 0px;
        height: 0px;
    }


    .p-title{
        width: 90%;
        font-size: 20px;
        margin: 0;
    }
    .prima-col{
        gap:25px;
    }
    .prima-col h1{
        font-size: 28px;

    }
    .btn{
        width: 50%;
        padding: 15px ;
        margin: 38px;
        
    }

   
    .container, .projects{
        margin: 0;
        padding: 30px;
    }



  }
  @media (max-width: 1000px) {

    .logo{
        margin: 0;
        padding: 0;
        font-size: 28px;
        margin: 25px 0 0 0 ;
    }
    li a{
        font-size: 20px;
    }
    .prima-col{
        gap: 20px;
        display: flex;
    }
    .p-title{
        width: 90%;
        font-size: 20px;
        margin: 0;
    }
    .prima-col h1{
        font-size: 28px;
        

    }
    .profile-container{
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
    .profile-image{
        display: none;
        margin: 0;
        padding: 0;
    }
    .hero{
        padding: 25px;
    }

    .btn{
        width: 70%;
        padding: 15px ;
        
    }


}
    

  @media (max-width: 700px) {
    .prima-col{
        gap: 20px;
        display: flex;
    }
    .p-title{
        width: 90%;
        font-size: 20px;
        margin: 0;
    }
    .prima-col h1{
        font-size: 28px;
        

    }
    .profile-container{
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
    .profile-image{
        display: none;
        margin: 0;
        padding: 0;
    }
    .hero{
        padding: 25px;
    }

    .btn{
        width: 70%;
        padding: 15px ;
        
    }

    .projects {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row; /* Alinha as cartas horizontalmente */
        gap: 30px; /* Espaçamento entre os cards */
        overflow-x: auto; /* Ativa a rolagem horizontal */
        padding: 0 10px; /* Reduz o padding para dispositivos menores */
    
    }

    .projects .card {
        flex: 0 0 auto; /* Impede que os cards se redimensionem */
        width: 290px;
    }

    .projects::-webkit-scrollbar {
        display: none; /* Esconde a barra de rolagem */
    }

    .title-proj {
        display: none; /* Esconde o título para desktop em telas menores */
    }

    .title-proj-mob {
        display: block; /* Mostra o título para mobile */
        text-align: center;
        margin: 28px;
    }

}


  @media (max-width:575px) {
    .logo{
        margin: 0;
        padding: 0;
        font-size: 28px;
        margin: 25px 0 0 0 ;
    }
    li a{
        font-size: 15px;
    }
    .prima-col{
        gap: 20px;
        display: flex;
    }
    .p-title{
        width: 100%;
        font-size: 12px;
        margin: 0;
    }
    .prima-col h1{
        font-size: 25px;
        

    }
    .profile-container{
        display: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
    .profile-image{
        display: none;
        margin: 0;
        padding: 0;
    }
    .hero{
        padding: 20px;
    }

    .btn{
        width: 80%;
        
    }


}