
    
    h1:nth-child(1){
        color: #db6b6b;
        font-size: 4rem;
        text-shadow: 0 12px 10px rgba(0, 0, 0, 0.6),
                0 8px 8px rgba(241, 114, 114, 0.509);
        margin-top: 70px;
    }

    h1:nth-child(2){
        margin-top: -40px;
        color: #f0f0f0;
        font-size: 3rem;
    }

    .p-title{
        color: #8992A3;
        width: 750px;
        font-size: 17px;
        letter-spacing: 2px;
    }

    .btn {
        display: inline-block;
        width: 300px;
        display: flex;
        justify-content: center;
        padding: 20px 40px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6),
        0 0 8px rgba(241, 114, 114, 0.642);
        border-radius: 30px;
        background: linear-gradient(90deg, #fff42c, #ff3838);
        transition: all 0.3s ease;
        margin-bottom: 60px;

    }
    
    .btn:hover {
        background: linear-gradient(90deg, #ff2c2c, #ff7a38);
        transform: translateZ(15px);
    }

    .btn a:hover{
        border: none;
    }
    
    
    .prima-col{
        display: flex;
        flex: 1;
        justify-content: center;
        gap: 40px;
        flex-direction: column;
    }

    .profile-container{
        display: flex;
        align-items: center;
        margin-left: 36px;
    }
   
    .profile-image {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 50%;
        filter: drop-shadow(0px 5px 15px rgba(241, 114, 114, 0.313));
        margin-top: 0px;
    }
    .profile-container img{
        position: relative;
        animation: flutuar 2s ease-in-out alternate-reverse infinite;
        vertical-align: middle;
    }
    @keyframes flutuar {
        0%{
            top: 0;
        }
        100%{
            top: 30px;
        }
    }

    .hero{
        display: flex;
        justify-content: space-between;
        padding:  0   100px ;
    }